/*对页脚AngularJS框架index的页脚进行样式重设置*/
.indexNav ul li:first-child{
	background: url(../../imgs/home.png) no-repeat;
	background-size: 2rem;
	background-position:1.35rem .8rem;
}
.indexNav ul li:first-child a{
	color: #8E9590;
}
.indexNav ul li:nth-child(2){
	background: url(../../imgs/find-2.png) no-repeat;
	background-size: 2rem;
	background-position:1.35rem .8rem;
}
.indexNav ul li:nth-child(2) a{
	color: black;
}
header {
	width: 100%;
	height: 3.5rem;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 99;	
}
header .header ul{
	width: 100%;
	height: 3.5rem;
}
header .header li{
	float: left;
	line-height: 3.5rem;
}
header .header li a{
	color: #383636;
	font-size: 1.2rem;
	font-weight: 600;
}
header .header li:first-child{
	margin: 0 10% 0 40%;
}
header .header li:first-child a{
	display: inline-block;
	height: 3.35rem;
	color: #D2041F;
	border-bottom: .2rem solid #D2041F;
}
main{
	margin-top: 3.5rem;
	width: 100%;
	margin-bottom: 4rem;
}
main .banner .swiper-container .swiper-wrapper img{
	width: 100%;
	height: 13rem;
}
main .banner .swiper-container .swiper-pagination span{
	background-color: #D51C35;
}

main .imgs{
	width: 100%;
	height: 6rem;
}
main .imgs ul li{
	width: 23%;
	float: left;
	margin: 0 1%;
}
main .imgs ul li img{
	width: 100%;
	height: 100%;
}