/*对页脚AngularJS框架index的页脚进行样式重设置*/
.indexNav ul li:first-child{
	background: url(../../imgs/home.png) no-repeat;
	background-size: 2rem;
	background-position:1.35rem .8rem;
}
.indexNav ul li:first-child a{
	color: #8E9590;
}
.indexNav ul li:nth-child(5){
	background: url(../../imgs/mine-2.png) no-repeat;
	background-size: 2rem;
	background-position:1.35rem .8rem;
}
.indexNav ul li:nth-child(5) a{
	color: black;
}
header{
	padding: 1rem;
	border-bottom: 1px solid #D5D5D8;
	background: #ccc;
}
header h2{
	font-size: 1.5rem;
	text-align: center;
}
header h2 img{
	width: 2rem;
	float: left;
}
main ul li{
	background-color: #fff;
	margin-bottom: 2px;
	padding: 1rem;
	position: relative;
}
main ul li span:nth-child(2) img{
	width: 1.2rem;
	position: absolute;
	right: 1rem;
	top: 1rem;
}
main ul.main-1{
	margin-top: 1rem;
}
main ul.main-1 li:nth-child(1) span:nth-child(2) img{
	width: 3rem;
}
main ul.main-2{
	margin-top: 1rem;
}