/*对页脚AngularJS框架index的页脚进行样式重设置*/
.indexNav ul li:first-child{
	background: url(../../imgs/home.png) no-repeat;
	background-size: 2rem;
	background-position:1.35rem .8rem;
}
.indexNav ul li:first-child a{
	color: #8E9590;
}
.indexNav ul li:nth-child(3){
	background: url(../../imgs/classify-2.png) no-repeat;
	background-size: 2rem;
	background-position:1.35rem .8rem;
}
.indexNav ul li:nth-child(3) a{
	color: black;
}
header{
	width: 100%;
	height: 6rem;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
}

header .headerTitle{
	width: 100%;
	height: 3.5rem;
	text-align: center;
	line-height: 3.5rem;
	border-bottom: 1px solid #C4C3C1;
}
header .headerTitle a{
	margin-right: 10%;
	font-size: 1.1rem;
}
header .headerTitle a:last-child{
	display: inline-block;
	color: #D2041F;
	height: 3.4rem;
	border-bottom: .15rem solid #D2041F;
}
header .headerNav{
	width: 100%;
	height: 2.5rem;
}
header .headerNav li{
	width: 25%;
	float: left;
	text-align: center;
	line-height: 2.5rem;
}
header .headerNav li a{
	color: #4E4E4D;
}
header .headerNav li:first-child a{
	color: #D2041F;
}

.kong{
	width: 100%;
	height: 1.5rem;
	background-color: white;
	margin: 6.5rem 0 .3rem 0;
}

main{
	width: 100%;
	height:50rem;
	margin-bottom: 4rem;
}
main .mainUl li{
	width: 48%;
	float: left; 
	background-color: white;
	margin-top: .3rem;
}
main .mainUl li:nth-child(odd){
	margin: 0.3rem 1.33% 0 1.33%;
}
main .mainUl li img{
	width: 100%;
	height: 100%;
}
main .mainUl li p{
	font-size: .8rem;
	line-height: 1.3rem;
}
main .mainUl li p:last-child span:last-child{
	display: inline-block;
	margin-left: .5rem;
	color: #B3B2B0;
	text-decoration: line-through;
}